certifi==2023.5.7
charset-normalizer==3.1.0
idna==3.4
requests==2.31.0
requests-mock==1.11.0
six==1.16.0
# Editable install with no version control (spotify-api-paddle==0.1)
-e c:\dev\spotify_api
urllib3==2.0.3
